html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    align-items: center;
    background: linear-gradient(320deg, rgb(199, 211, 63), rgb(211, 130, 63), rgb(184, 211, 63));
    display: flex;
    height: inherit;
    justify-content: center;
    font-family: 'Lora', serif;
    font-display: swap;
    transition: all 0.3s ease-in-out;
}

body.dark {
    background: linear-gradient(320deg, rgb(25, 26, 23), rgb(19, 18, 17), rgb(15, 15, 12));
}

.container {
    background-color: rgb(202, 193, 193);
    border: 2px rgba(rgba(7, 4, 4, 0.568)) solid;
    border-radius: 12.5px;
    height: 540px;
    flex-basis: 420px;
    box-shadow: 3px 4px;
    color: #232323;
    padding: 20px 30px;
}

.screen {
    backdrop-filter: blur(5.5px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0 4px 30px rgba(7, 4, 4, 0.568);
    color: #232323;
    font-size: 35px;
    overflow: auto;
    padding: 20px;
    text-align: right;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}

.container button {
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 1px 4.75px;
    border-radius: 6px;
    flex-basis: 20%;
    font-family: inherit;
    font-size: 24PX;
    height: 65px;
}

.container button:last-child {
    backdrop-filter: blur(5.5px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0 4px 30px rgba(7, 4, 4, 0.568);
    color: #e4d6d6;
    background-color: rgba(149, 11, 177, 0.87);
}

.container button:last-child:hover {
    background-color: inherit;
    color: inherit;
}

.container button:hover {
    background-color: inherit;
}

.container button:active {
    background-color: #ffef78;
}

.container button:last-child:active {
    background-color: #ffef78;
}

#equal {
    flex-basis: 40%;
    margin-right: 3%
}

#plus_less {
    margin-right: 3%;
}

.toggle {
    position: relative;
    justify-content: right;
    height: 35px;
    width: 80px;
    margin-left: 5%;
    margin-bottom: 500px;
    border-radius: 100px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.toggle::before {
    content: '';
    position: absolute;
    background-color: #260db4;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    top: 7.5%;
    left: 1px;
    transform: translate(10%);
    transition: all 0.3s ease-in-out;
}

.toggle.activate::before {
    background-color: #0c0c0c;
    left: calc(100% - 30px - 7.5px);
}

.disable-selection {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer / Edge */
    user-select: none;
}